{
 :paths
 [
  "src"
 ]

 :deps
 {
   sogaiu/punk {:git/url "https://github.com/sogaiu/punk.git"
                :sha "4c78243995837a2b71ae9e1292f7b1a0ff63ae58"}
   sogaiu/antoine-bin {:git/url "https://github.com/sogaiu/antoine-bin"
                       :sha "846eb13d12958b2e22d9ed2fcf49fdcc994be1cf"}
 }
}
