{
 :paths
 [
  "src"
 ]

 :deps
 {
   sogaiu/punk {:git/url "https://github.com/sogaiu/punk.git"
                :sha "c5aff35153b41cddf3240ce4bb1502d1f88b9e57"}
   sogaiu/antoine-windows {:git/url "https://github.com/sogaiu/antoine-windows"
                           :sha "b34680283b1d559f7cd9687849002d8e51e00c06"}
 }
}
