{
 :paths
 [
  "src"
 ]

 :deps
 {
   sogaiu/punk {:git/url "https://github.com/sogaiu/punk.git"
                :sha "c5aff35153b41cddf3240ce4bb1502d1f88b9e57"}
   sogaiu/antoine-linux {:git/url "https://github.com/sogaiu/antoine-linux"
                         :sha "4bbf40a4b62fd3c60d8f4e4b373398ed3e63cc68"}
 }
}
